{% extends "layout.html" %}

{% block content %}
    <h1 class = "page-header">{{title}}</h1>
    {% if pages.length > 0 %}
	  <ul>
	    {% for doc in pages %}
	      <li>{{doc|page_link}}</li>
	    {% endfor %}
	  </ul>
	{% else %}
	  There are no pages. Why don't you <a href='/add'>add one</a>?
	{% endif %}
	<!-- <form action="/add/submit" method="POST">
      <label for="name_field">FIND PAGES BY TAG</label>
      <br>
      <input name="tags" type="text" class = "textField form-control"/>
      <br><br>
    </form> -->
{% endblock %}
